#login{
  text-align: center;
  background-color: #C5C6C7;
}

.sr-only{
  width: 300px;
}

.signin{
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.form-signin{
  padding: 5%;
}
